ul.menu {
    border-radius: 0 5px 5px 0;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 5px 0 0;
    background-image: url('cadoIcon.png');
    background-repeat: no-repeat;
    background-color: #231f20;
    padding-left: 33px;
}

ul.menu li {
	float:left;
}

ul.menu a {
    display: block;
    height: 33px;
    line-height: 33px;
    padding: 0 10px;
    white-space: nowrap;
    color: white;
}

ul.menu a:hover {
    background-color: #00adef;
    color: #231f20;
}

div#body {
	background-color: #b8e5fa;
	padding-top: 34px;
}