body {
	background-color: #b8e5fa;
	font-family: 'lucida grande',​tahoma,​verdana,​arial,​sans-serif;
	font-size: 11px;
	line-height: 1.3;
}

body h1 {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: #dde;
	padding: 10px;
	text-align: center;
}

a:hover {
	color: #77e; 
}

ul#mainMenu {
    border-radius: 0 0 5px 5px;    
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    background-image: url('/static/cadoIcon.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-color: #353630;
    padding-left: 40px;
    overflow: visible;
}

ul#mainMenu li {
	float:left;
	border-right: 1px solid #544;
	position:relative;
}

ul#mainMenu li:first-child {
	border-left: 1px solid #544;
}

ul#mainMenu li.logout {
	float: right;
	margin-right: 10px;
	border-left: 1px solid #544;
	border-right: none;
}

ul#mainMenu a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    white-space: nowrap;
	min-width: 70px;
	text-align: left;
	
    color: #f2f2f2;    
    font-size: 11px;
    font-weight: bold;
}

ul#mainMenu li.logout a {
	padding: 0;
	width: 40px;
	min-width: 40px;
	background-image: url('/static/icons/32/logout.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;

}

ul#mainMenu a:hover {
    background-color: #00adef;
    color: #231f20;
}

ul#mainMenu a:active {
	background-color: red;
}

ul#mainMenu ul {
	display: none;
	position: absolute;
	top: 40px;
	background-color: #353630;
    z-index: 100;
	height: auto;
}

ul#mainMenu ul li {
	float: none;
	border: none;
	border-top: 1px solid #544;
}

ul#mainMenu li:hover > ul {
    display: block;
}




div#body {
	background-color: #eff;
	margin: 15px auto;
	padding: 20px;
	border-radius: 5px;
    width: 990px;
    min-height: 500px;
}

div.sql {
	padding: 10px;
	background: white;
	border: 1px dashed #cce;
}

div.sql a {
	float: right;
	color: red;
}


table.admin {
	width: 100%;
	margin: 10px 0;
}

table.admin tr td {
	padding: 7px;
	background-color: #fff; 
	border-bottom: 1px solid #ddd;
}

table.admin tr:nth-child(even) td {
	background-color: #eee;
}

table.admin tr th {
	border-bottom: 1px solid #bbb;
	background-color: #dde;
	padding: 7px;
	padding-bottom: 10px;
}

table.admin tr td.actions {
	white-space: nowrap;
	text-align: center;	
}

a.button {
	margin: 2px 8px;
	padding: 4px 10px;
	border-radius: 11px;
	border: 1px solid #bbb;
	background-color: #eee;
}
a.button:hover {
	border: 1px solid #889;
	background-color: #eef;
}

div.pager {
	text-align: center;
}

div.pager ul {
	display: inline;
}

div.pager ul li {
	display: inline;
}

div.pager ul li a {
	padding: 2px 15px;
	border: 1px solid #aaa;
	background-color: #dde;
	margin: 1 4px;
	text-align: center;
}

div.pager ul li a:hover {
	border: 1px solid #777;
	background-color: #fff;
	color: black;
}

div.pager ul li strong {
	padding: 3px 16px;
	border: 1px dashed #ccc;
	margin: 0 3px;
	text-align: center;
}

div.form div.legend {
	width: 500px;
	margin: 0 auto;
	padding: 10px;
}

div.form form {
	width: 560px;
	margin: 0 auto;
	padding: 10px;
	border: 1px dashed #aad;
}

div.form div.field {
	border-bottom: 1px dashed #aad;
	padding: 15px;
	overflow: auto;
}

div.form div.field label {
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 20px;
}

div.form div.field input, div.form div.field textarea {
	width: 300px;
	border: 1px solid #ccc;
	padding: 5px 8px;
}
	
div.form div.submit input {
	margin: 2px 8px;
	padding: 4px 10px;
	border-radius: 11px;
	border: 1px solid #bbb;
	background-color: #eee;
}

div.form div.submit {
	padding: 20px;
	text-align: center;
}

div.form div.submit input {
	border: 1px solid #889;
	background-color: #eef;
}

div.footer {
	width: 990px;
	margin: 10px auto 10px auto;
	text-align: right;
	color: #777;
}