
ul.tickets {
		
}

ul.tickets li {
	border-bottom:1px dashed #00007f;
}

.statusIcon {
	width: 22px;
	height: 22px;
	float: left;
}
a.actionLink {
	display: block;
	float: right;
}
a.actionLink:hover {
	background-color: #99f;
}
.statusIcon.new {
	background: url('new.png');
}
.statusIcon.assigned {
	background: url('assigned.png');
}
.statusIcon.inprogress {
	background: url('inprogress.png');
}
.statusIcon.blocked {
	background: url('blocked.png');
}
.statusIcon.fixed {
	background: url('fixed.png');
}
.statusIcon.pushed {
	background: url('pushed.png');
}
.statusIcon.closed {
	background: url('closed.png');
}

div.title {
	margin-left: 24px;
}

li.statusNew {
	background-color:#ffd;
}
li.statusAssigned {
	background-color:#dff;
}
li.statusInprogress {
	background-color:#dff;
}
li.statusBlocked {
	background-color:#fdd;
}
li.statusFixed {
	background-color:#dfd;
}
li.statusPushed {
	background-color:#dfd;
}
li.statusClosed {
	background-color:#ddd;
}

a.ticketLink {
	display: block;
	min-height: 22px;
	padding: 3px 5px 2px 5px;
}

a.ticketLink:hover {
	background-color: #99f;
}



